# build directories
/build/**
/docs/UserDoc/_build/**
/docs/UserDoc/_build_doxygen/**
/.sconf_temp/**

# configs & caches
/.vscode/**
.sconsign.dblite
config.log

# output files
/solutions/**
/stations/**
/output/**
/plots/**
/checkpoints/**
**.nc
**.cdl

# submissions binaries
**.tar.xz

!**.gitkeep
!/src/data/**